body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
    div.focus{
       font-size: 40px;
       border-left:4px solid;
       border-image:linear-gradient(red,blue);
       border-image-slice: 1%;
       line-height: 35px;

       
       
   }
   .color{
       color: rgb(221, 103, 103);
   }
   .flexible{
       display: flex;
       margin-bottom: 150px;
   }
   .half-width{
       width: 50%;
       padding-left: 10%;
   }
   .half-width img{
       width: 75%;
   }
   .buttons{
       text-decoration: none;
       background-color:orangered;
       color: white;
       font-weight: 700;
       padding: 10px 40px;
       border-radius: 5px;
   }
   div.center {
       text-align: center;
       font-size: medium;
       

   }
   .Mission-item{
       width:60%;
       height: 40%;
       margin-left: 400px;
       margin-right:500px;
       margin: 40px 10px;
       padding-left: 10px  ;
       border-radius: 5px;
       box-shadow: 10px 10px 40px gray;
      
       
   }
   #lightblue-color{
       background-color: lightblue ;
   }
   #lightcoral-color{
       background-color: lightcoral;
   }
   #lightcyan-color{
       background-color: lightcyan;
   }
   #image-1{
    height: 150px;
    position: static;
    object-fit: contain;
   }

   #image-2{
       
       height: 150px;
       position: static;
       object-fit: contain;
   }
   #image-3{
    
    height: 150px;
    position: static;
    object-fit: contain;
}
.Mission-area{
    margin-left:100px;
    margin-right: 100px;
    
}
.develop{
    background-image: url(images/shapes/shape-1.png);
    width:100;

    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size:20%;
    padding: 5% 1%;
   
    
}
.Global{
    background-image: url(images/shapes/shape-1.png);
    width:100;

    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size:20%;
    padding: 5% 1%;
   
}
.bold{
    font-weight: bold;
    font-size:40px;
}
  footer{
      text-align:center ;
      background-color:black;
      text-decoration: none;
      color: white;
      font-weight: 700;
      padding: 10px 40px;
      
  } 
   